<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Walking App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/png" href="http://www.hansonish.com/extras/logos/walk-man-hanson.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <style>
        .is-stuck {background:rgba(0,0,0,0.2); transition: background-color 1s ease; width:100%;padding:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
    </style>
</head>

<body data-ng-app="WalkApp" ng-controller="WalkController" ng-cloak>

    <!-- basic textbox bind -->
    <div class="column row">
        <h3>Lunch-Walk App <small>{{message}}</small></h3>
    </div>

    <!-- progress bar for steps -->
    <div class="column row">
        <div ng-class="{'success': completedBar}" class="progress" role="progressbar" tabindex="0" aria-valuenow="{{dirPercentage}}" aria-valuemin="0" aria-valuetext="{{dirPercentageMessage}}" aria-valuemax="100">
          <span ng-style="barWidth" class="progress-meter">
            <p class="progress-meter-text">{{dirPercentageMessage}}</p>
          </span>
        </div>
    </div>

    <div class="column row">
        <div class="column row">

            <div data-sticky-container id="grab" >

                <div class="primary button-group sticky" data-sticky data-top-anchor="grab" data-margin-top="0">
                    <p><span class="info label">Directions:</span></p>
                        <button data-ng-repeat="x in walkLabels" ng-animate="'animate'" class="button" ng-disabled="disableDirectionButtons" ng-click="add(x)">
                            {{ x.label }}
                        </button>
                </div>

            </div>

        </div>
    </div>

    <div class="column row spacer"></div>

    <div class="small-12 medium-3 large-3 columns ">

            <div class="small-12 medium-12 large-12 columns">
                <button ng-class="completedBar ? 'success' : 'hollow'" class="button" data-open="checkRouteModal" ng-disabled="walkArray.length<10" ng-click="checkWalk(walkArray)"><i class="fi-check"></i> Check Walk</button>
                <button class="hollow button" ng-disabled="walkArray.length==0" data-open="clearModal"><i class="fi-refresh"></i> Clear</button>
            </div>

        <div ng-if="walkArray.length>0" class="fade events small-12 medium-12 large-12 columns">
            <p><span class="secondary label">Instructions:</span></p>
            <div data-ng-repeat="x in writtenDirections" class="item">
                <p><i ng-if="x.direction == 'West'" class="fi-arrow-left"></i>
                     <i ng-if="x.direction == 'East'" class="fi-arrow-right"></i>
                     <i ng-if="x.direction == 'North'" class="fi-arrow-up"></i>
                    <i ng-if="x.direction == 'South'" class="fi-arrow-down"></i> {{x.syn}} {{ x.direction }} on {{x.street}}.
                <p>
            </div>
            <button ng-class="completedBar ? 'success' : 'hollow'" class="button" data-open="directionsModal" ng-disabled="walkArray.length<10"><i class="fi-search"></i> Get Directions</button>
        </div>


    </div>

    <!-- This is the clear modal -->
    <div class="reveal" id="clearModal" data-reveal
         data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">
        <h1>Clear Data?</h1>
        <p class="lead">Are you sure you would like to erase all directions?</p>
        <a class="button" ng-click="clearWalk()" data-close>Clear Data</a>
        <a class="button" data-close>Cancel</a>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- This is the checkRoute modal -->
    <div class="reveal" id="checkRouteModal" data-reveal
         data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <p class="lead">{{message}}</p>
        <a class="button" data-close>Okay</a>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- This is the Directions modal -->
    <div class="reveal" id="directionsModal" data-reveal
         data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <p class="lead">Directions</p>
        <div ng-if="walkArray.length>0" class="fade events small-12 medium-12 large-12 columns">
            <div data-ng-repeat="x in writtenDirections" class="item">
                <p><i ng-if="x.direction == 'West'" class="fi-arrow-left"></i>
                    <i ng-if="x.direction == 'East'" class="fi-arrow-right"></i>
                    <i ng-if="x.direction == 'North'" class="fi-arrow-up"></i>
                    <i ng-if="x.direction == 'South'" class="fi-arrow-down"></i> {{x.syn}} {{ x.direction }} on {{x.street}}.
                <p>
            </div>
        </div>
        <a class="button" data-close>Okay</a>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="small-12 medium-9 large-9 columns">

        <div id="" class="small-12 medium-12 large-12 columns">

            <div class="column row">

                <table class="hover">
                    <thead>
                    <tr>
                        <th>Step:</th>
                        <th>Direction:</th>
                        <th>Action:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="x in walkArray" class="item">
                        <td>{{$index + 1}}</td>
                        <td>{{ x.label }}</td>
                        <td>
                           <i ng-click="remove($index)" class="fi-trash"></i>
                        </td>
                    </tr>
                    <tr ng-if="walkArray.length<=0">
                        <td>No Directions Added.</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div id="grabend"></div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
<script src="assets/js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>
