[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


.fi-trash {
    font-size:22pt;
    color:grey;
    cursor:hand;
    cursor:pointer;
}

.fi-trash:hover {
    color:black;
}

.spacer {
    width:100%;
    height:20px;
}


/* fade in fade out animation */
.item.ng-move,
.item.ng-enter,
.item.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
    opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
    opacity:1;
}



.events {
    transition: all linear 0.5s;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
    overflow:hidden;
}
/* slide in right animation */
/*
.events {
    transition: all linear 0.5s;
    opacity: 1;
    margin-left:0px;
}

.fade.ng-hide {
    opacity: 0;
    margin-left:500px;
    overflow:hidden;
}
/* slide in left animation */
/*
.events {
    transition: all linear 0.5s;
    opacity: 1;
    margin-right:0px;
}

.fade.ng-hide {
    opacity: 0;
    margin-right:800px;
    overflow:hidden;
}
/* slide in up animation */
/*
.events {
    transition: all linear 0.5s;
    opacity: 1;
    margin-top:0px;
}

.fade.ng-hide {
    opacity: 0;
    margin-top:800px;
    overflow:hidden;
}
/* slide in down animation */
/*
.events {
    transition: all linear 0.5s;
    opacity: 1;
    margin-top:0px;
}

.fade.ng-hide {
    opacity: 0;
    margin-top:-800px;
    overflow:hidden;
}


